<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"><nav>
    <div class="nav-wrapper colorN">

        <div class="logo-container">
            <div class="container">
                <a href="#" class="brand-logo">
                    <img class="icon" src="../../../../assets/images/logo.png" alt="Logo">
                </a>
            </div>
            <div class="container">
                <span class="logo-title">MaestriaEnArtesUcaldas</span>
            </div>
            
        </div>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <a href="Inicio.html">Inicio</a>
            </li>
            <li>
                <a href="Maestria.html">MAESTRIA</a>
                <ul class='dropdown-content'>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li>
                <a href="Grupos/LINEASINVESTIGACION.html">GRUPOS/LINEASINVESTIGACION</a>
                <ul class='dropdown-content'>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li>
                <a href="contacto.html">CONTACTO</a>
            </li>
            <li><a href="blog.html">BLOG</a>
                <ul class='dropdown-content'>
                    <li><a href="#">one</a></li>
                    <li><a href="#">two</a></li>
                </ul>
            </li>
            <li class="espacio"><i class="large material-icons">pageview</i></li>
        </ul>
    </div>
</nav>
